* { margin:0; padding:0; }

html, body { width:95vw; height:95vh; }


canvas { 
  height: 90vh; 
  width: 90vw; 
  display: block;
  background-color: rgb(0,0,0);
  margin-left:3%;
  margin-top:3%;

}
